<!DOCTYPE html>

<html>
	<head>
		<title>{{title}}</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>

		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<header class='header'>
			<h1 class='header__heading'>{{name}}</h1>
			<p>A solution by <span class='author'>{{author}}</span></p>
		</header>

		{{{body}}}

		<footer class='footer'>
			<div class='footer__row'>
				<p class='footer__row__element author'>{{author}}</p>
			</div>
			<div class='footer__row'>
				{{#each footerLinks}}
					<a class='footer__row__element' href={{href}}>{{label}}</a>
				{{/each}}
			</div>
		</footer>
	</body>
</html>
